.data {
    padding: .5rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: rgb(245, 245, 225);
    cursor: pointer;
}

.question {
    position: relative;
    font-size: x-large;
    padding: 1rem;
    transition: all 0.3s ease;
}

.question::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
    background-image: url('/src/image/arrow-down.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
}

.answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.data.expanded .question {
    margin-bottom: 15px;
}

.data.expanded .question::after {
    transform: translateY(-50%) rotate(180deg);
}

.data.expanded .answer {
    max-height: 1000px;
    opacity: 1;
}